body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f5f9;
    overflow-x: hidden
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    line-height: 1.2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#webAppName {
    margin-left: 50px;
}

.navbar {
    margin-right: 50px;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    justify-content: space-around;
    flex-basis: auto;
}

#logo {
    width: 80px;
    height: 80px;
    padding: 8px;
}

#name {
    width: 180px;
    height: auto;
    /*padding-bottom: 32px;*/
    padding-left: 3px;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    /*box-shadow: 0 0 20px rgba(0,0,0,0.1);*/
    border-radius: 10px;
    width: 80%;
    /*max-width: 1000px;*/
    height: 700px;
    margin: 50px auto;
}

.chat-container {
    width: 100%;
    max-width: 900px;
    /*margin: 50px auto;*/
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

#conversation {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 500px;
    /*max-height: 400px;*/
    overflow-y: auto;
}

#chatTitle {
    display: flex;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    color: gray;
    background-color: #f4f5f9;
    border-bottom: 1px solid #eee;
    height: 50px;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #eee;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-right: 10px;
}

.chat-input button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #0056b3;
}

/*.message-right, .message-left {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-bottom: 10px;*/
/*}*/

.message-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-right: 5px;
}

.message-left {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 5px;
}

.message-right .message-text,
.message-left .message-text {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.message-right .message-text {
    background-color: #007bff;
    color: #fff;
    order: 2;
}

.message-left .message-text {
    background-color: #f4f5f9;
    order: 2;
}

.message-right .message-hour,
.message-left .message-hour {
    font-size: 0.8em;
    color: gray;
    margin: 5px 10px;
    order: 1;
}

.message-right .message-hour {
    order: 1;
}

.message-left .message-hour {
    order: 3;
}

.message-right .message-avatar {
    order: 3;
}

.message-avatar .avatar {
    width: 40px;
    height: 40px;
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.message-avatar .name {
    display: block;
    font-size: 0.8em;
    color: gray;
    text-align: center;
    margin-top: 5px;
    /*margin-left: 10px;*/
}

#chatGPTAvatar {
    width: 40px;
    height: 40px;
}

#userAvatar {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    overflow: hidden;
}

#landingPage {
    background-color: white;
}

.main {
    margin: 50px 0 120px 0;
}

#mainText {
    float: left;
    width: 46%;
    margin: 90px 10px 0 110px;
}

#mainText h1 {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 100px;
    color: #1C4964;
    margin: 20px 0 20px 0;
}

#chatButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #63B6CA;  /* #007bff */
    font-family: "Baskerville", serif;
    color: white;
    font-size: 19px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

#abstractDesign {
    width: 550px;
    height: auto;
    margin-top: 50px;
}

#appName {
    display: flex;
    font-family: "Baskerville", serif;
    font-size: 19px;
    color: #1C4964; /* #007bff */
    outline: 1px solid #1C4964; /* #007bff */
    border-radius: 30px;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.details {
    background-color: #63B6CA;
    height: 600px;
    margin: -10px;
}

.details h2 {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    color: #1C4964;
    font-size: 50px;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: -8px;
}

.details h4 {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    color: #1C4964;
    font-size: 30px;
    margin: 0 0 10px 0;
    padding-right: 0;
}

.details p {
    font-family: "Baskerville", serif;
    font-size: 22px;
    margin: 0 0 0 3px;
    color: #8C8C8C;
    padding-right: 0;
}

#visualDetails {
    display: flex;
    margin: 0 auto;
    background-color: white;
    width: 75%;
    border-radius: 20px;
    padding: 50px 50px 10px 50px;
    text-align: center;
}

#sectionOneInfo, #sectionTwoInfo {
    display: flex;
    width: 48%;
    text-align: left;
    margin-top: 10px;
}

#sectionOneInfo {
    float: left;
    margin-right: 80px;
}

.icons {
    float: left;
    /*width: 12%;*/
    margin-bottom: 100px;
    margin-right: 5px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: #F0F1F3;
    border-radius: 50%;
    margin: 0 8px 0px 0;
}

.circleIcon {
    width: 30px;
    height: 30px;
}

.dashed-line {
    margin: 0 0 0 38px;
    border-left: 4px dashed #F0F1F3;
    height: 100px;
}

#personalizedRecipes, #affordableOptions {
    margin-bottom: 60px;
}

.about {
    display: flex;
    position: relative;
    /*height: 820px;*/
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: -10px;
}

.about img {
    width: 100%;
    height: auto;
    margin: 100px 0 0 0;
}

#aboutButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 68%;
    left: 55%;
    background-color: white;
    outline: 2px solid #1C4964;
    font-family: "Baskerville", serif;
    color: #1C4964;
    font-size: 28px;
    width: 570px;
    height: 100px;
    border-radius: 100px;
}

.bold {
    font-weight: bold;
}

#aboutPage {
    background-color: white;
}

#mainAbout h1 {
    font-size: 40px;
    color: #1C4964;
    text-align: center;
    margin-bottom: 30px
}

#mainAbout p {
    line-height: 30px;
    font-size: 20px;
    color: #605e5e;
}

#ourMission {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 50px 150px 50px 150px;
}

#missionText {
    float: left;
    width: 40%;
}

#ourMission img {
    height: 500px;
    width: auto;
    margin-left: 50px;
}

#culinaryAssistant, #whyBudgetBytes, #getStarted {
    background-color: #f4f5f9;
    margin-bottom: -20px;
    padding: 50px 150px 0 150px;
}

#getStarted {
    padding-bottom: 50px;
}


/**User Authentication Form */

.new-user-form-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.new-user-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.checkbox-group {
    margin-bottom: 20px;
}

.checkbox-label {
    display: block;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    color: #28a745;
}

/* New/Returning User  */

/* User Type Selection */
.user-type-selection {
    text-align: center; /* Center-align the buttons */
    margin-bottom: 20px; /* Add some space between buttons and form */
}

.user-type-selection button {
    margin: 5px; /* Add space between buttons */
    /* Add any additional button styles you may want */
}

/* Styling for form containers */
.form-container {
    max-width: 600px;
    margin: 0 auto; /* Center align */
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: none; /* Initially hidden */
}

/* Initially show the new user form */
#newUserFormContainer {
    display: block;
}

/* Hide the returning user form container by default */
#returningUserFormContainer {
    display: none;
}

/* Position the buttons on top of the forms */
.user-forms-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align items horizontally */
}

/* Add some spacing between the forms */
.new-user-form-container,
#returningUserFormContainer {
    margin-top: 20px;
}