body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f5f9;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    clear: left;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    line-height: 1.2;
}

.logIn{
    margin-bottom: 35%;
}

.startDiv {
    margin-bottom: 3%;
}

.disabled {
    color:#212529!important;
    font-size: 1.5em!important;
    pointer-events: all !important;
}

.btn-primary {
    background-color: #64B6C9!important;
    text-shadow: 1px 1px 2px rgb(46, 46, 46);
}

.dropdown-menu .active {
    background-color: #64B6C9!important;
    color: white!important;
}

/* ---------------------- Header styling ---------------------- */
/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

.navbar {
    background-color: white!important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#logo {
    width: 80px;
    height: 80px;
    padding: 8px;
}

#name {
    width: 180px;
    height: auto;
    /*padding-bottom: 32px;*/
    padding-left: 3px;
}

/* ---------------------- chatPage ---------------------- */

.background {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    width: 95%;
    margin: 50px auto;
    padding: 20px;
}

.chat-container {
    flex-grow: 2;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#conversation {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 500px;
    /*max-height: 400px;*/
    overflow-y: auto;
}

#conversation h4 {
    margin-top: 5px;
}

#chatTitle {
    display: flex;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    color: gray;
    background-color: #f4f5f9;
    border-bottom: 1px solid #eee;
    height: 50px;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #eee;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-right: 10px;
}

.chat-input button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #0056b3;
}

/*.message-right, .message-left {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-bottom: 10px;*/
/*}*/

.message-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-right: 5px;
}

.message-left {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 5px;
    position: relative;
}

.message-right .message-text,
.message-left .message-text {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.message-right .message-text {
    background-color: #007bff;
    color: #fff;
    order: 2;
}

.message-left .message-text {
    background-color: #f4f5f9;
    position: relative;
    padding-right: 20px;
    order: 2;
}

.message-right .message-hour,
.message-left .message-hour {
    font-size: 0.8em;
    color: gray;
    margin: 5px 10px;
    order: 1;
}

.message-right .message-hour {
    order: 1;
}

.message-left .message-hour {
    order: 3;
}

.message-right .message-avatar {
    order: 3;
}

.message-avatar .avatar {
    width: 40px;
    height: 40px;
    /*margin-right: 10px;*/
    /*margin-left: 10px;*/
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.message-avatar .name {
    display: block;
    font-size: 0.8em;
    color: gray;
    text-align: center;
    margin-top: 5px;
    /*margin-left: 10px;*/
}

#chatGPTAvatar {
    width: 40px;
    height: 40px;
}

#userAvatar {
    width: 35px;
    height: 35px;
    margin-top: 0px;
    overflow: hidden;
}

#recipeIdeas {
    list-style-type: none;
    padding-left: 0;
}

/* ---------------------- landingPage ---------------------- */

#landingPage {
    background-color: white;
}

.main {
    margin: 50px 0 120px 0;
}

#mainText {
    float: left;
    width: 46%;
    margin: 90px 10px 0 110px;
}

#mainText h1 {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 100px;
    color: #1C4964;
    margin: 20px 0 20px 0;
}

#chatButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #64B6C9;  /* #007bff */
    font-family: "Baskerville", serif;
    color: white;
    font-size: 19px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}

#abstractDesign {
    width: 550px;
    height: auto;
    margin-top: 50px;
}

#appName {
    display: flex;
    font-family: "Baskerville", serif;
    font-size: 19px;
    color: #1C4964; /* #007bff */
    outline: 1px solid #1C4964; /* #007bff */
    border-radius: 30px;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.details {
    background-color: #63B6CA;
    height: 600px;
    margin: -10px;
}

.details h2 {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    color: #1C4964;
    font-size: 50px;
    background-color: white;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: -8px;
}

.details h4 {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    color: #1C4964;
    font-size: 30px;
    margin: 0 0 10px 0;
    padding-right: 0;
}

.details p {
    font-family: "Baskerville", serif;
    font-size: 22px;
    margin: 0 0 0 3px;
    color: #8C8C8C;
    padding-right: 0;
}

#visualDetails {
    display: flex;
    margin: 0 auto;
    background-color: white;
    width: 75%;
    border-radius: 20px;
    padding: 50px 50px 10px 50px;
    text-align: center;
}

#sectionOneInfo, #sectionTwoInfo {
    display: flex;
    width: 48%;
    text-align: left;
    margin-top: 10px;
}

#sectionOneInfo {
    float: left;
    margin-right: 80px;
}

.icons {
    float: left;
    /*width: 12%;*/
    margin-bottom: 100px;
    margin-right: 5px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    background-color: #F0F1F3;
    border-radius: 50%;
    margin: 0 8px 0px 0;
}

.circleIcon {
    width: 30px;
    height: 30px;
}

.dashed-line {
    margin: 0 0 0 38px;
    border-left: 4px dashed #F0F1F3;
    height: 100px;
}

#personalizedRecipes, #affordableOptions {
    margin-bottom: 60px;
}

.about {
    display: flex;
    position: relative;
    /*height: 820px;*/
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: -10px;
}

.about img {
    width: 100%;
    height: auto;
    margin: 100px 0 0 0;
}

#aboutButton {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 68%;
    left: 55%;
    background-color: white;
    outline: 2px solid #1C4964;
    font-family: "Baskerville", serif;
    color: #1C4964;
    font-size: 28px;
    width: 570px;
    height: 100px;
    border-radius: 100px;
}

.bold {
    font-weight: bold;
}

#aboutPage, #groceryListPage {
    background-color: white;
}

#mainAbout h1 {
    font-size: 40px;
    color: #1C4964;
    text-align: center;
    margin-bottom: 30px
}

#mainAbout p {
    line-height: 30px;
    font-size: 20px;
    color: #605e5e;
}

#ourMission {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 50px 150px 50px 150px;
}

#missionText {
    float: left;
    width: 40%;
}

#ourMission img {
    height: 500px;
    width: auto;
    margin-left: 50px;
}

#culinaryAssistant, #whyBudgetBytes, #getStarted {
    background-color: #f4f5f9;
    margin-bottom: -20px;
    padding: 50px 150px 0 150px;
}

#getStarted {
    padding-bottom: 50px;
}

/* ---------------------- favorite recipes ---------------------- */
.heart-button {
    /* position: absolute;
    top: 5px;
    right: 0; */
    position: relative;
    float: right; /* Align buttons to the right */
    z-index: 1; /* Ensures the buttons are above other elements */
    background: none;
    border: none;
    margin-left: 15px;
    margin-right: 8px;
    margin-top: -2px;
}

.heart-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.heart-shape {
    fill: none;
    stroke: red;
    stroke-width: 2;
    transition: fill 0.3s ease;
}

.heart-button:hover .heart-shape {
    fill: rgba(255, 155, 155, 0.55);
    stroke: red;
    stroke-width: 2;
}

.heart-button.favorite .heart-shape {
    fill: red;
    stroke: none;
}

.recipes {
    background-image: url("images/marbleBG.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 10%;
}

.recipes h1, .recipes h4 {
    text-align: center;
    padding-top: 20px;
}

.modal-body h4 {
    padding-top: 0;
}

#createCollectionBtn {
    width: 100%;
    margin-bottom: 20px;
}

#collectionsMenu, #exploreMenu {
    width: 20%;
    float: left;
    margin-right: 50px;
    margin-left: 20px;
}

#collectionsMenu .nav-link, #exploreMenu .nav-link {
    color: black;
}

.nav-pills .active {
    color: white!important;
    background-color: #64B6C9!important;
}

.nav h4 {
    text-align: left;
}

.collOpt {
    margin-top: 15px;
}

.mainDoc {
    width: 70%;
    float: left;
}

.recipeCards {
    display: block;
    width: 88%;
    margin: auto;
}

.recipeCards h5 {
    text-align: center;
}

.recipe-card {
    position: relative;
    background-color: white;
    padding: 20px;
    float: left;
    margin: 5px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.overlay {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to bottom, rgba(0,0,0, 0.7) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: white;
}

#cardContent .recipe-card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.overlay-text {
    text-align: center;
    font-family: 'Gill Sans', sans-serif;
    z-index: 1;
    padding-top: 20px;
    text-shadow: 0px 1px 4px #000000;
}

#meal-plan-container .recipe-card {
    width: calc(100% / 7 - 10px);
}

/* changed from 50px */
#meal-plan-container .recipe-details { 
    margin-top: 50px;
}

/* ---------------------- saved recipes ---------------------- */

.bookmark-button {
    /* position: absolute;
    top: 8px;
    right: 50px; */
    /* position: relative; */
    position: relative;
    float: right; /* Align buttons to the right */
    z-index: 1; /* Ensures the buttons are above other elements */
    background: none;
    border: none;
}

.bookmark-icon {
    height: 30px;
    width: auto;
    cursor: pointer;
}

.bookmark-shape {
    fill: none;
    stroke: black;
    stroke-width: 2;
    transition: fill 0.3s ease;
}

.bookmark-button:hover .bookmark-shape {
    fill: rgba(0, 0, 0, 0.27);
    stroke: black;
    stroke-width: 2;
}

.bookmark-button.saved .bookmark-shape {
    fill: black;
    stroke: none;
}

/**User Authentication Form */

.new-user-form-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.new-user-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.checkbox-group {
    margin-bottom: 20px;
}

.checkbox-label {
    display: block;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    color: #28a745;
}

/* New/Returning User  */

/* User Forms Container */
.user-forms-container {
    flex: 1;
    margin-right: 20px; /* Space between forms and chat container */
}

/* User Type Selection */
.user-type-selection {
    text-align: center;
    margin-bottom: 20px;
}

.user-type-selection button {
    margin: 5px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-type-selection button:hover {
    background-color: #0056b3;
}

/* Form Container */
.form-container {
    display: none; /* Initially hidden */
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Initially show the new user form */
#newUserFormContainer {
    display: block;
}

/* Returning User Form */
#returningUserFormContainer {
    display: none;
}

#returningResult ul {
    list-style-type: none;
    padding: 0;
}

#returningResult li {
    margin-bottom: 5px;
}


#groceryPageTitle {
    font-family: "Helvetica", sans-serif;
    padding-top: 20px;
    text-align: center;
    font-weight: normal;
    font-size: 100px;
    color: #f4f5f9;
    margin: 20px 0 20px 0;
    text-shadow: 2px 2px 6px #0d212e;
}
 
.mainGroceryList {
    background-image: url("images/groceryListBackground.jpg");
    height: 1000px;
    max-width: 100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    opacity: 85%;
    margin-top: 0px;
} 

.img-overlay {
    position: relative;
    max-width: 100%;
}

#groceryList, #logInContainer {
    background-color: #299dae;
    border-radius: 25px;
    float: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 10px rgb(152, 152, 152);
    justify-items: center;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    opacity: 95%;
    overflow: hidden;
}

#idBox {
    margin:0 auto;
    width:200px;
}

#loginRequestText, #optionMessageOutput, #optionRequestText, 
    #groceryEmptyStatus, #loginMessageOutput {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
    font-style: italic;
}

#loginHeader {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-size: 30px;
    padding-top: 15px;
    font-family: "Helvetica", sans-serif;
}

#loginButton {
    margin-top: 20px;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

#groceryHeader {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: "Helvetica", sans-serif;
}

.crudInput {
    padding-top: 10px;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-style: italic;
    font-family: "Helvetica", sans-serif;
}

#groceryListDisplay {
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.listOptions {
    max-width: 130px;
}


/* styles for locat stores*/
.address-container {
    width: 100%;
    max-width: 900px;
    /*margin: 50px auto;*/
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.address-title {
    font-size: 1em;
    margin-bottom: 2px;
    text-align: center;
    color: gray;
    background-color: #f4f5f9;
    border-bottom: 1px solid #eee;
}

.address {
    display: flex;
    padding: 10px;
}

.address input {
    flex: 1;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-right: 10px;
}

.address button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.address button:hover {
    background-color: #0056b3;
}

#map {
    height: 520px;
}

/*word search*/
.highlight {
    background-color: yellow;
    font-weight: bold;
}
/*cooking assesment*/
#quiz-container {
    width: 80%;
    padding: 20px;
    margin:  0 auto;
    margin-top: 3%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

#submit-btn,
#result-container button {
    margin-top: 20px;
}
/* meal plan */
#meal-plan-container {
    text-align: center;
    margin-top: 20px;
}

#meal-cards-container {
    display: flex;
    overflow-x: auto;
}

.meal-card {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    height: 100px;
    width: 200px;
    transition: width 0.3s ease;
    overflow: hidden;
}

.meal-card:hover {
    background-color: #f9f9f9;
}

.expanded {
    height:fit-content;
    width: fit-content;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.word-search {
    background-image: url("images/whiteBG.jpg");
    padding-bottom: 10%;
}